* {
     box-sizing: border-box;
}

body {
     background: #E8E1EF;
     color: #290000;
     font-family: Arial, Helvetica, sans-serif;
}

.content {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 70%;
     margin: auto;
}

.name-title {
     font-size: clamp(3rem, 8vw, 4.875rem);
     font-family: Georgia, Times, "Times New Roman", serif;
     font-variant: small-caps;
     font-weight: 700;
     color: #290000;
     text-shadow: 4px 4px 1px #92929259;
}

hr {
     width: 100%;
     height: 6px;
     background-color: #1D1E2C;
     border: 0;
}

p {
     font-size: 18px;
}

.project-links {
     width: 100%;
}

.project {
     display: block;
     align-items: flex-start;
     justify-content: flex-start;
     min-height: 80px;
     width: 100%;
     background: #CDD3D5;
     box-shadow: 5px 4px 10px #92929271;
     border: 2px solid white;
     border-radius: 10px;

     /* Font Style */
     font-size: 24px;
     color: black;

     padding: 10px;
     margin: 30px 0;
}

.project h3{
     margin: 0;
     color: #A30000;
}

.project h3 a{
     color: #071E22;
     text-decoration: none;
     transition: color 0.8s ease, text-decoration-color 0.2s ease;
}

.project h3 a:hover {
     color: #1D7874;
     text-decoration: underline;
     text-decoration-thickness: 2px;
     text-underline-offset: 4px;
}

.project hr{
     height: 2px;
}

.project ul{
     font-size: smaller;
     line-height: 2;
}